<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update data view</title>
</head>
<body>
    
    <form action="{% url 'UpdateData' data.id %}" method="post">
        {% csrf_token %}
        <input type="text" name="name" value="{{data.name}}" placeholder="name"><br>
        <input type="text" name="email" value="{{data.email}}" placeholder="email"><br>
        <input type="text" name="age" value="{{data.Age}}" placeholder="age"><br>
        <input type="text" name="gender" value="{{data.gender}}" placeholder="gender"><br>
        <input type="text" name="country" value="{{data.country}}" placeholder="country"><br>
        <input type="submit" name="submit" value="submit">
    </form>

</body>
</html>