<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Data Page</title>
</head>

<body>
    <p>CREATE DATA FUNCTIONALITY</p>
    <form action="{% url 'create' %}" method="post">
        {% csrf_token %}
        <label for="username">User</label>
        <input type="text" name="username" placeholder="Enter your name">
        <label for="Email">Email</label>
        <input type="text" name="Email" placeholder="Enter your email">
        <label for="Age">Age</label>
        <input type="text" name="Age" placeholder="Enter your age">
        <label for="Gender">Gender</label>
        <input type="text" name="Gender" placeholder="Enter your gender">
        <select name="Country" >
            <option value="select a country" readonly>Select a country</option>
            <option value="India">India</option>
            <option value="Pakistan"> Pakistan</option>
            <option value="Bangladash">Bangladash</option>
            <option value="Srilanka">Srilanka</option>
            <option value="Afghanistan">Afghanistan</option>
            <option value="Iran">Iran</option>
            <option value="Iraq">Iraq</option>
        </select>
        <input type="submit" value="Click me">
    </form>
</body>

</html>